<form class="form-horizontal" role="form" method="post" action="/zfwadmin/catalog/add" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">分类名称：</label>

        <div class="col-sm-3">
            <input class="form-control" id="DisplayName" name="DisplayName">
        </div>
    </div>
    <div class="form-group">
        <label for="ident" class="col-sm-2 control-label">英文标识：</label>

        <div class="col-sm-3">
            <input class="form-control" id="Name" name="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="display_order" class="col-sm-2 control-label">排序权值：</label>

        <div class="col-sm-1">
            <input class="form-control" id="DisplayOrder" name="DisplayOrder">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">新增</button>
        </div>
    </div>
</form>
